:root {
  --background: #000;
}

.item {
    padding:10px;
    border:solid 1px var(--background);
    width:200px;
    color: var(--white);
    background: var(--background);
    margin:2px;
}

.item:hover {
  color: var(--background);
  background: var(--white);
}
